h1 {
  text-align: center;
}

.answer {
  margin-top: 20px;
  text-align: center;
  display: none;
}

#main {
  display: none;
  justify-content: center;
  gap: 5px;
}

.first-num,
.sign,
.second-num,
.equal-sign,
.right-answer {
  background: lightblue;
  width: 40px;
  height: 40px;
  display: grid;
  align-content: center;
  text-align: center;
}

#first-num {
  margin: 0 auto;
}

.hearts {
  text-align: center;
  margin-bottom: 20px;
  display: none;
}

#game-over {
  display: none;
  text-align: center;
}

#start-game {
  text-align: center;
}

#start-game p {
  background: lightblue;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
